.test td,
.test th {
  border: 1px solid #ddd;
  padding: 8px;
}

.test {
  width: 650px;
  margin: auto;
}

.test tr:nth-child(even) {
  background-color: #f2f2f2;
}

.test tr:hover {
  background-color: #ddd;
}

.test th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: orchid;
  color: white;
}
